## JVM Heap Size 설정
-Xms1g
-Xmx1g

## Java 17 이상에서 GC 설정
-XX:+UseG1GC
-XX:InitiatingHeapOccupancyPercent=75
-XX:+UseStringDeduplication

# Java 17에서 GC 로깅을 위한 방식 (JEP 158 지원)
-Xlog:gc*:file=/var/log/opensearch/gc.log:time,uptime,level,tags

# 기타 성능 최적화 옵션
-Djava.awt.headless=true
-Dfile.encoding=UTF-8
-Djna.nosys=true
-Dlog4j2.disable.jmx=true
-Dopensearch.allow_downgrade=true
