[Unit]
Description=OpenSearch Service
After=network.target

[Service]
User=opensearch
Group=opensearch
ExecStart=/usr/local/opensearch/bin/opensearch
Restart=always
LimitNOFILE=65536
LimitNPROC=4096

[Install]
WantedBy=multi-user.target