[Unit]
Description=OpenSearch Service
After=network.target

[Service]
User=opensearch
Group=opensearch
# vm.max_map_count 설정
ExecStartPre=/bin/sh -c "sysctl -w vm.max_map_count=262144"
ExecStart=/usr/local/opensearch/bin/opensearch
Restart=always
LimitNOFILE=65536
LimitNPROC=4096

[Install]
WantedBy=multi-user.target