name=opensearch-sink
connector.class=io.aiven.kafka.connect.opensearch.OpensearchSinkConnector

# Kafka Setting
tasks.max=1
topics=opensearch-sink
key.ignore=true

# Schema Registry
key.converter=io.confluent.connect.avro.AvroConverter
value.converter=io.confluent.connect.avro.AvroConverter
key.converter.schema.registry.url=http://kafka_01.com:8081
value.converter.schema.registry.url=http://kafka_01.com:8081

# OpenSearch
connection.url=http://kafka_01.com:9200
schema.ignore=true

# Offset storage settings
offset.storage.topic=connect-offsets
offset.storage.replication.factor=3
offset.storage.partitions=25
# Config storage settings
config.storage.topic=connect-configs
config.storage.replication.factor=3
config.storage.partitions=1
# Status storage settings
status.storage.topic=connect-status
status.storage.replication.factor=3
status.storage.partitions=5
# Offset flush interval
offset.flush.interval.ms=10000

# Plugin path
plugin.path=/usr/local/kafka/lib/opensearch-connector-for-apache-kafka-3.1.1